*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.contanier{
  max-width: 1300px;
  margin: auto;
}
.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}